<h1>ユーザーログイン</h1>

<%= form_with model: @user, url: user_session_path do |f| %>

  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :"ユーザー情報を保存" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "user/shared/links" %>

<%= link_to "ゲストユーザーログインはこちら", user_guest_sign_in_path, method: :post %>
