<div class="container">
  <h3 class="text-center mt-3">メールアドレス・パスワードの変更</h3>
  <div class="alert-message">
    <%= render "user/shared/error_messages", resource: resource %>
  </div>
  <div class="d-flex justify-content-center">
    <div class="sign-up-form">
      <%= form_with model: @user,url: user_registration_path do |f| %>
        <form>
          <div class="form-group">
            <label for="InputEmail">メールアドレス</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa-solid fa-envelope"></i></div>
              </div>
            <%= f.email_field :email,class: "form-control",id: "InputEmail", autofocus: true, autocomplete: "email" %>
            </div>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="form-group">
            <label for="InputPassword">新しいパスワード</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-lock"></i></div>
              </div>
            <%= f.password_field :password,class: "form-control",id: "InputPassword", autocomplete: "new-password" %>
            </div>
          </div>
          <div class="form-group">
            <label for="InputPasswordConfirmation">新しいパスワード確認用</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-check-circle"></i></div>
              </div>
            <%= f.password_field :password_confirmation,class: "form-control",id: "InputPasswordConfirmation", autocomplete: "new-password" %>
            </div>
          </div>
          <div class="form-group">
            <label for="InputCurrentPassword">現在のパスワード</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-lock-open"></i></div>
              </div>
            <%= f.password_field :current_password,class: "form-control",id: "InputCurrentPassword", autocomplete: "current-password" %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "この内容で保存" ,class: "btn btn-success"%>
          </div>
        </form>
      <% end %>
      <div class="my-3">
        <%= link_to "＊ プロフィールを編集に戻る", edit_user_user_path(@user.id) ,class: "text-reset" %>
      </div>
    </div>
  </div>
</div>