<div class="container">
  <h3 class="text-center mt-3">ユーザー情報の編集</h3>
  <div class="alert-message">
      <%= render "user/shared/error_messages", resource: resource %>
    </div>
  <div class="d-flex justify-content-center">
    <div class="sign-up-form">
      <%= form_with model: @user,url: user_registration_path do |f| %>
      <form>
        <div class="form-group">
          <%= f.label :"メールアドレス" %><br />
          <%= f.email_field :email,class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="form-group">
          <%= f.label :"新しいパスワード" %><br />
          <%= f.password_field :password,class: "form-control", autocomplete: "new-password" %>
        </div>
        <div class="form-group">
          <%= f.label :"新しいパスワード確認用" %><br />
          <%= f.password_field :password_confirmation,class: "form-control", autocomplete: "new-password" %>
        </div>
        <div class="form-group">
          <%= f.label :"現在のパスワード" %><br />
          <%= f.password_field :current_password,class: "form-control", autocomplete: "current-password" %>
        </div>
        <div class="actions">
          <%= f.submit "この内容で保存" ,class: "btn btn-success"%>
        </div>
      </form>
      <% end %>
      <div class="my-3">
        <%= link_to "＊ユーザー情報に戻る", :back ,class: "text-reset" %>
      </div>
    </div>
  </div>
</div>
