<div class="container">
  <h3 class="text-center mt-3">新規登録</h3>
  <div class="d-flex flex-column align-items-center">
    <div class="mt-3">
      <%= render "user/shared/error_messages", resource: resource %>
    </div>
    <div class="sign-up-form">
      <%= form_with model: @user, url: user_registration_path do |f| %>
        <form>
          <div class="form-group">
            <label for="InputName">ユーザーネーム</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa-solid fa-user"></i></div>
              </div>
            <%= f.text_field :name ,class: "form-control", id: "InputName" %>
            </div>
          </div>
          <div class="form-group">
            <label for="InputEmail">メールアドレス</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa-solid fa-envelope"></i></div>
              </div>
            <%= f.email_field :email ,class: "form-control", id: "InputEmail", autofocus: true, autocomplete: "email" %>
            </div>
          </div>
          <div class="form-group">
            <label for="InputPassword">パスワード</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-lock"></i></div>
              </div>
            <%= f.password_field :password ,class: "form-control", id: "InputPassword", autocomplete: "new-password" %>
            </div>
          </div>
          <div class="form-group">
            <label for="InputPasswordConfirmation">パスワード確認用</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-check-circle"></i></div>
              </div>
            <%= f.password_field :password_confirmation ,class: "form-control", id: "InputPasswordConfirmation", autocomplete: "new-password" %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "新規登録" ,class: "btn btn-success mt-1" %>
          </div>
        </form>
      <% end %>
      <div class="mt-3">
        <%= render "user/shared/links" %>
      </div>
      <div class="my-5">
        <%= link_to "ゲストユーザーログイン", user_guest_sign_in_path,class: "btn-lg btn-primary", method: :post %>
      </div>
    </div>
  </div>
</div>