<% if post_image.post_comments.exists? && post_image.user.is_active == true %>
  <div class="comment-area">
    <h5 class="ml-3">コメント件数：<%= post_image.post_comments.count %></h5>
    <% post_image.post_comments.each do | post_comment | %>
      <div class="border-top mt-3">
        <div class="d-flex bd-highlight mt-3">
          <div class="bd-highlight p-1"><%= image_tag post_comment.user.get_profile_image(50,50) %></div>
          <div class="bd-highlight p-1"><span class="d-inline-block text-truncate" style="max-width: 150px;"><%= post_comment.user.name %></span></div>
          <div class="ml-auto p-1"><%= post_comment.created_at.strftime('%Y/%m/%d') %></div>
        </div>
      </div>
      <div class="text-break p-1"><%= post_comment.comment %></div>
      <% if user_signed_in? && post_comment.user == current_user %>
        <div class="ml-auto p-3">
          <%= link_to user_post_image_post_comment_path(post_comment.post_image,post_comment), method: :delete , class: "btn btn-danger" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      <% elsif admin_signed_in? %>
        <div class="ml-auto p-3">
          <%= link_to admin_post_image_post_comment_path(post_comment.post_image,post_comment), method: :delete , class: "btn btn-danger" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% elsif post_image.user.is_active == true %>

  <div class="infometion">
    <%= image_tag("green-flower.png")%>
    <h5>＊ コメントまだはありません。</h5>
  </div>
<% end %>
