<% if post_image.post_comments.exists? %>
  <div class="comment-area">
    <h5 class="ml-3">コメント件数：<%= post_image.post_comments.count %></h5>
    <% post_image.post_comments.each do | post_comment | %>
      <div class="border-top mt-3">
        <div class="d-flex bd-highlight align-items-center mt-3">
          <div class="bd-highlight p-1">
            <% if user_signed_in? %>
              <%= link_to user_user_path(post_comment.user.id) do %>
                <%= image_tag post_comment.user.get_profile_image(50,50)%>
              <% end %>
            <% elsif admin_signed_in? %>
              <%= link_to admin_user_path(post_comment.user.id) do %>
                <%= image_tag post_comment.user.get_profile_image(50,50)%>
              <% end %>
            <% end %>
          </div>
          <div class="mr-auto bd-highlight p-1 ml-3 ">
            <div class="comment-user-name"><%= post_comment.user.name %></div>
          </div>
          <div class="bd-highlight w-25">
            <%= post_comment.created_at.strftime('%Y/%m/%d') %>

            <% if user_signed_in? && post_comment.user == current_user %>

              <%= link_to user_post_image_post_comment_path(post_comment.post_image,post_comment), method: :delete , class: "btn btn-danger m-3" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>

            <% elsif admin_signed_in? %>

              <%= link_to admin_post_image_post_comment_path(post_comment.post_image,post_comment), method: :delete , class: "btn btn-danger m-3" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>

            <% end %>

          </div>
        </div>
      </div>
      <div class="text-break p-1"><%= post_comment.comment %></div>
    <% end %>
  </div>
<% elsif post_image.user.is_active == true %>
  <div class="informetion">
    <%= image_tag("green-flower.png")%>
    <h5>この投稿へのコメントまだはありません。</h5>
  </div>
<% end %>
