<div class="container">
  <div class="row">
    <% if flash[:notice] %>
      <p id = "notice">
        <%= flash[:notice] %>
      </p>
    <% end %>
    <% if @post_image.user.is_active == false %>
      <h3>こちらは退会済みユーザーの投稿です</h3>
    <% end %>
    <% if @error_comment.present? %>
      <div id="error_explanation" >
        <h3><%= @error_comment.errors.count %>件のエラーが発生しました</h3>
        <ul>
          <% @error_comment.errors.full_messages.each do | message | %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-3 my-5">
      <div class="my-3">
        <h6>地域</h6>
        <h3><%= @post_image.tag.area %></h3>
      </div>
      <div class="my-3">
        <h6>花の名前</h6>
        <h3><%= @post_image.flower %></h3>
      </div>
      <div class="my-3">
        <h6>花の咲いていた場所</h6>
        <h3><%= @post_image.field %></h3>
      </div>
      <div class="my-3">
        <h6>花が咲いていた日</h6>
        <h3><%= @post_image.day %></h3>
      </div>
      <h6>開花状況</h6>
      <p>
        <div id="star<%= @post_image.id %>"></div>
          <script>
            $('#star<%= @post_image.id %>').empty();
            $('#star<%= @post_image.id %>').raty({
              size     : 36,
              starOff  : "<%= asset_path('star-off.png') %>",
              starOn   : "<%= asset_path('star-on.png') %>",
              score: <%= @post_image.star%>,
              half: false,
              readOnly: true,
            });
          </script>
      </p>
      <h5>住所</h5>
      <p class="text-break"><%= @post_image.address %></p>
      <h5>詳細</h5>
      <p class="text-break"><%= @post_image.detail %></p>
    </div>
    <div class="col-lg-6 my-5 ">
      <div><%= image_tag @post_image.get_image(600,600) ,class: "img-fluid" %></div>
        <div class="mt-5">
          <% if @post_image.favorited_by?(current_user) %>
            <p>
              <%= link_to user_post_image_favorite_path(@post_image), class: "text-reset", method: :delete do %>
              <i class="fas fa-heart"></i>  <%= @post_image.favorites.count %> いいね
              <% end %>
            </p>
          <% elsif @post_image.user.is_active == true %>
            <p>
              <%= link_to user_post_image_favorite_path(@post_image), class: "text-reset", method: :post do %>
              <i class="far fa-heart"></i>  <%= @post_image.favorites.count %> いいね
              <% end %>
            </p>
          <% end %>
        </div>
          <div>
            <% if @post_image.user.is_active == true %>
              <%= form_with model: [@post_image, @post_comment],url: user_post_image_post_comments_path(@post_image.id), method: :post do |f| %>
                <%= f. text_area :comment , placeholder: "コメントをここに" , class: "form-control w-50" %>
              <%= f. submit "送信する" , class: "btn btn-success btn-sm mt-3"%>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-3 my-5">
        <div class="mb-5">
          <h5>投稿ユーザー情報</h5>
          <div class="my-3">
            <%= image_tag @post_image.user.get_profile_image(150,150) %>
          </div>
          <h5><%= @post_image.user.name %></h5>
        </div>
          <% if @post_image.user == current_user %>
        <div class="my-3">
          <div class="my-3"><%= link_to "投稿を編集する" ,edit_user_post_image_path(@post_image) , class: "btn btn-info" %></div>
          <div class="my-3"><%= link_to "投稿を削除する" ,user_post_image_path(@post_image), class: "btn btn-danger" ,method: :delete, "data-confirm" => "本当に削除しますか？" %></div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="mb-auto">
    <% if @post_image.post_comments.exists? %>
      <h5 class="ml-3">コメント件数：<%= @post_image.post_comments.count %></h5>
    <% else %>
      <h5 class="ml-3">この投稿に対するコメントはまだありません</h5>
    <% end %>
    <div class="w-75 mx-auto">
    <% @post_image.post_comments.each do | post_comment | %>
      <div class="border-top my-3">
        <div class="d-flex justify-content-between my-3">
          <div class="p-1"><%= image_tag post_comment.user.get_profile_image(100,100) %></div>
          <div class="p-1"><%= post_comment.user.name %></div>
          <div class="p-1"><%= post_comment.created_at.strftime('%Y/%m/%d') %></div>
        <% if post_comment.user == current_user %>
          <div class="p-3">
            <%= link_to "削除", user_post_image_post_comment_path(post_comment.post_image,post_comment), method: :delete , class: "btn btn-danger" %>
          </div>
        </div>
        <% end %>
      </div>
    <div class="p-1 text-break"><%= post_comment.comment %></div>
    <% end %>
    </div>
  </div>
</div>