<div class="container">
  <% if @error_comment.present? %>
    <div class="d-flex justify-content-center mt-1">
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <p class="text-center text-danger"><%= @error_comment.errors.count %>件のエラーが発生しました</p>
        <ul class="px-3">
          <% @error_comment.errors.full_messages.each do | message | %>
            <li class="text-danger"><%= message %></li>
          <% end %>
        </ul>
        <button type="button" class="close" data-dismiss="alert" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  <% end %>

  <%= render 'user/post_images/post_image',post_image: @post_image, user: @user %>

  <div class="d-flex flex-column">
    <div class="mt-3 ml-auto">
      <% if @post_image.favorited_by?(current_user) %>
        <h3>
          <%= link_to user_post_image_favorite_path(@post_image), class: "text-reset", method: :delete do %>
            <i class="fas fa-heart"></i>  <%= @post_image.favorites.count %> いいね
          <% end %>
        </h3>
      <% elsif @post_image.user.is_active == true %>
        <h3>
          <%= link_to user_post_image_favorite_path(@post_image), class: "text-reset", method: :post do %>
            <i class="far fa-heart"></i>  <%= @post_image.favorites.count %> いいね
          <% end %>
        </h3>
      <% end %>
    </div>
    <div class="comment-field">
      <% if @post_image.user.is_active == true %>
        <%= form_with model: [@post_image, @post_comment],url: user_post_image_post_comments_path(@post_image.id), method: :post do |f| %>
        <%= f. text_area :comment , placeholder: "コメントをここに" , class: "form-control" %>
        <%= f. submit "送信する" , class: "btn btn-success btn-sm mt-3 ml-auto"%>
        <% end %>
    </div>
      <% else %>
      <div class="infometion">
        <%= image_tag("green-flower.png")%>
        <h5>退会済みのためコメントはできません。</h5>
      </div>
      <% end %>

    <%= render 'user/post_images/comment', post_image: @post_image %>

  </div>
</div>
