<div class="container">
  <h3 class="text-center mt-3">ユーザー詳細</h3>
  <div class="row">
    <div class="col-lg-3 mt-3">

      <%= render 'user/users/profile', user: @user %>

    </div>
    <div class="col-lg-9 mt-3">
      <h5 class="text-center mt-3"><%= @user.name %>さんがフォロー中のユーザー：<%= @user.followings.count %></h5>
      <% if @users.exists? %>

       <%= render 'user/users/users', users: @users %>

      <% else %>
        <h5 class="infometion-message">＊ ユーザーはいません。</h5>
      <% end %>
    </div>
  </div>
  <p class="text-center"><%= link_to "＊ 投稿者詳細に戻る",admin_user_path(@user.id),class: "text-reset" %></p>
</div>