<div>
  <% if user == current_user %>
   <h3>あなたのプロフィール</h3>
   <p><%= link_to "花の咲く場所を投稿する", new_user_post_image_path %><p>
  <% else %>
   <h3>このユーザーのプロフィール</h3>
  <% end %>
  <%= image_tag user.get_profile_image(200,200) %>
  <p>ユーザーネーム<strong><%= user.name %></strong></p>
  <p>自己紹介</p>
  <p><%= user.introduction %></p>
  
  <p><%= link_to "#{user.followings.count} フォロー中", user_user_followings_path(user.id) %></p>
  <p><%= link_to "#{user.followers.count} フォロワー", user_user_followers_path(user.id) %></p>

  <% if current_user.following?(user)%>
    <p><strong><%= link_to "フォローを外す", user_user_relationships_path(user.id), method: :delete %></strong></p>
  <% elsif current_user != user %>
    <p><strong><%= link_to "フォローする", user_user_relationships_path(user.id), method: :post %></strong></p>
  <% end %>
  <% if user.id == current_user.id %>
    <%= link_to "プロフィールを編集する",edit_user_user_path(user.id) %><br>
    <%= link_to 'メールアドレス、パスワードを変更する',edit_user_registration_path(user.id) %>
  <% end %>
</div>