<div class="d-flex justify-content-center mt-1">
  <% users.each do |user| %>
  <div class="user-group">
    <div class="
    user-block
    <% if user == current_user %>
     my-border-line
    <% else %>
     border-line
    <% end %>
    ">
      <% if user_signed_in? %>
        <div class="user-image">
          <%= link_to user_user_path(user.id) do %>
            <%= image_tag user.get_profile_image(150,150)%>
          <% end %>
        </div>
      <% elsif admin_signed_in? %>
        <div class="user-image">
          <%= link_to admin_user_path(user.id) do %>
            <%= image_tag user.get_profile_image(150,150)%>
          <% end %>
        </div>
      <% end %>
      <div>
        <p class="user-name"><%= user.name %></p>
        <p class="text-center mt-3">投稿件数：<%= user.post_images.count %></p>
      </div>

      <% if user_signed_in? %>

        <p class="text-center"><%= link_to "#{user.followings.count} ：フォロー中", user_user_followings_path(user.id), class: "text-reset" %></p>
        <p class="text-center"><%= link_to "#{user.followers.count} ：フォロワー", user_user_followers_path(user.id), class: "text-reset"%></p>

        <% if current_user == user %>
          <%= link_to "マイページ",user_user_path(user.id), class: "btn btn-info my-3" %>
        <% elsif current_user.following?(user)%>
          <%= link_to "フォローを外す", user_user_relationships_path(user.id), class: "btn btn-danger my-3", method: :delete %>
        <% elsif current_user != user && user.is_active == true %>
          <%= link_to "フォローする", user_user_relationships_path(user.id), class: "btn btn-success my-3",method: :post %>
        <% else %>
          <%= link_to "退会済み", user_user_relationships_path(user.id), class: "btn btn-danger disabled my-3",method: :post %>
        <% end %>

      <% elsif admin_signed_in? %>

        <p class="text-center"><%= link_to "#{user.followings.count}：フォロー中",admin_user_followings_path(user.id),class: "text-reset" %></p>
        <p class="text-center"><%= link_to "#{user.followers.count}：フォロワー",admin_user_followers_path(user.id),class: "text-reset" %></p>
        <p class="text-center">登録日時：<%= user.created_at.strftime('%Y/%m/%d')%></p>

        <% if user.is_active == true %>
          <div class="bg-success rounded text-white py-1 px-3 my-3">有効会員</div>
        <% else %>
          <div class="bg-danger rounded text-white py-1 px-3 my-3">退会済み</div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>