<div class="container">
  <h1 class="text-center mt-3 mr-5">
    FLOWER
      <%= image_tag('F.F.png')%>
    FIELD
  </h1>

  <div class="home-image">
    <div><%= image_tag('F.F.png')%><%= image_tag('F.F.png')%><%= image_tag('F.F.png')%><%= image_tag('F.F.png')%><%= image_tag('F.F.png')%></div>
  </div>

  <% unless signed_in? %>
    <div class="home-button">
        <div>
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-info" %>
        </div>
        <div>
         <%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
        </div>
        <div>
          <%= link_to "ゲストユーザーログイン", user_guest_sign_in_path, class: "btn btn-primary", method: :post %>
        </div>
        <div>
          <%= link_to "管理者ログイン", new_admin_session_path, class: "btn btn-danger admin-font" %>
        </div>
      </div>
  <% end %>
</div>