<div class="container">
  <h3 class="text-center mt-3">ユーザー情報</h3>
  <div class="row">
    <div class="col-lg-3 mt-3">

      <%= render 'user/users/profile', user: @user %>

    </div>
    <div class="col-lg-9 mt-3">
      <% if current_user == @user %>
        <h5 class="text-center mt-3">あなたがフォロー中のユーザー：<%= @user.followings.count %></h5>
      <% else %>
        <h5 class="text-center mt-3"><%= @user.name %>さんがフォロー中のユーザー：<%= @user.followings.count %></h5>
      <% end %>

      <% if @users.exists? %>

       <%= render 'user/users/users', users: @users %>

      <% else %>
        <div class="infometion">
          <%= image_tag("green-flower.png")%>
          <h5>フォロー中のユーザーはいません。</h5>
        </div>
      <% end %>
    </div>
  </div>
  <p class="text-center"><%= link_to "＊ ユーザー情報を見る",user_user_path(@user.id),class: "text-reset" %></p>
</div>