<div class="container">
  <h5 class="text-center mt-5">投稿内容の修正</h5>
  <% if @post_image.errors.any? %>
  <div class="d-flex justify-content-center">
    <div class="alert alert-danger mt-3" role="alert">
      <p class="text-center text-danger"><%= @post_image.errors.count %>件のエラーが発生しました</p>
      <ul class="px-3">
        <% @post_image.errors.full_messages.each do | message | %>
          <li class="text-danger"><%= message %></li>
        <% end %>
      </ul>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  </div>
  <% end %>
  <%= form_with model: @post_image, url: admin_post_image_path, method: :patch do |f| %>
      <div class="form-row">
        <div class="form-group col-10 col-md-5 mt-3 mx-auto">
          <label>地域</label>
          <%= f.collection_select(:tag_id,Tag.all,:id,:area,{prompt: false},{class: "form-control"}) %>
        </div>
        <div class="form-group col-10 col-md-5 mt-3 mx-auto">
          <label for="inputName">花の名前</label>
          <%= f.text_field :flower, id:"inputName", placeholder:"染井吉野、桜、桃色の花",class: "form-control" %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-10 col-md-5 mt-3 mx-auto">
          <label for="inputField">花が咲いていた場所</label>
          <%= f.text_field :field, id:"inputField", placeholder:"上野恩賜公園、台東区池之端",class: "form-control" %>
        </div>
        <div class="form-group col-10 col-md-5 mt-3 mx-auto">
          <label for="inputDay">花が咲いていた日</label>
          <%= f.date_field :day , id:"inputDay",class: "form-control" %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-10 col-md-5 mt-3 mx-auto">
          <label for="inputAdress">住所（任意）</label>
          <%= f.text_area :address ,id:"inputAdress", placeholder:"上野公園台東区池之端３丁目３番３号",class: "form-control" %>
        </div>
        <div class="form-group col-10 col-md-5 mt-3 mx-auto">
          <label for="inputDetail">詳細（任意）</label>
          <%= f.text_area :detail ,id:"inputDetail", placeholder:"駅から徒歩５分、入園料無料、コンビニが近くにあります。",class: "form-control" %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-10 col-md-5 mt-3 mx-auto">
          <label for="inputProfileimage">画像</label>
            <%= f.file_field :image ,id: "inputProfileimage",class: "form-control-file", accept: "image/*"  %>
        </div>
        <div class="form-group col-10 col-md-5 mt-3 mx-auto">
          <label>開花状況</label>
          <div id="star">
            <%= f.hidden_field :star, id: :star %>
          </div>
            <script>
              $('#star').empty();
              $('#star').raty({
                size     : 36,
                starOff  : "<%= asset_path('star-off.png') %>",
                starOn   : "<%= asset_path('star-on.png') %>",
                scoreName: 'post_image[star]',
                half: false,
              });
            </script>
          </div>
      </div>
      <div class="form-group row mt-3 ml-3">
        <div class="col-10"><%= f.submit 'この内容で保存する',class:  "btn btn-success btn-bg" %></div>
      </div>
    </form>
  <% end %>
</div>