<div class="container">
  <h3 class="text-center mt-3">投稿詳細の修正</h3>
  <% if @post_image.errors.any? %>
  <div class="d-flex justify-content-center mt-3">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <p class="text-center text-danger"><%= @post_image.errors.count %>件のエラーが発生しました</p>
      <ul class="px-3">
        <% @post_image.errors.full_messages.each do | message | %>
          <li class="text-danger"><%= message %></li>
        <% end %>
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <% end %>
  <%= form_with model: @post_image, url: admin_post_image_path, method: :patch do |f| %>

    <%= render 'user/post_images/form', f: f %>

  <% end %>
  <p class="text-center"><%= link_to"＊ 投稿詳細に戻る",admin_post_image_path(@post_image.id),class: " text-center text-reset" %></p>
</div>