
<div>
  <% users.each do |user| %>
    <%= link_to admin_user_path(user.id) do %>
      <%= image_tag user.get_profile_image(200,200) %>
    <% end %>
    <p><strong><%= user.name %></strong></p>
    <!--<p>< link_to "#{user.followings.count}：フォロー中",user_user_followings_path(user.id) ></p>-->
    <!--<p>< link_to "#{user.followers.count}：フォロワー",user_user_followers_path(user.id) ></p>-->
    <p>投稿件数：<%= user.post_images.count %></p>
  <% end %>
  <%= paginate users %>
</div>