<div class="container">
  <h3 class="text-center mt-3">このユーザーのプロフィールを編集する</h3>
  <% if @user.errors.any? %>
  <div class="d-flex justify-content-center mt-3">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <p class="text-center text-danger"><%= @user.errors.count %>件のエラーが発生しました。</p>
      <ul class="px-3">
        <% @user.errors.full_messages.each do | message | %>
          <li class="text-danger"><%= message %></li>
        <% end %>
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <% end %>
    <div class="d-flex justify-content-center">
      <div class="mt-5">
      <%= form_with model: @user,url: admin_user_path, method: :patch do |f| %>
      <form>
        <div class="form-group">
          <p>プロフィール画像</p>
            <%= f.file_field :profile_image, class: "file-control", accept: "image/*"%>
        </div>
        <div class="form-group">
          <p>名前</p>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <p>自己紹介</p>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
        <div class="form-group">
          <p>会員状況</p>
          <div class="form-check form-check-inline mr-5">
            <%= f.radio_button :is_active, true, class: "form-check-input" %>
            <label class="form-check-label">有効会員</label>
          </div>
          <div class="form-check form-check-inline mr-5" >
            <%= f.radio_button :is_active, false, class: "form-check-input"  %>
            <label class="form-check-label">退会済み</label>
          </div>
        </div>
      <%= f.submit "この内容で保存する", class: "btn btn-success my-3" %>
      </form>

    <% end %>
    <p><%= link_to "＊ 投稿者詳細に戻る", admin_user_path(@user.id),class: "text-reset" %></p>
    </div>
  </div>
</div>