<h1>投稿者詳細</h1>

<% if flash[:notice] %>
  <p id = "notice">
    <%= flash[:notice] %>
  </p>
<% end %>

<div>
  <h3>このユーザーのプロフィール</h3>
  <% if @user.is_active == true %>
    <h3>有効会員<h3>
  <% else %>
    <h3>退会済み</h3>
  <% end %>
  <%= image_tag @user.get_profile_image(200,200) %>
  <p>ユーザーネーム<strong><%= @user.name %></strong></p>
  <p>自己紹介</p>
  <p><%= @user.introduction %></p>

  <%= link_to "このユーザーのプロフィールを編集する",edit_admin_user_path %>

<h3>このユーザーの花の咲く場所</h3>

<% if @post_images.exists? %>
  <%= render 'admin/post_images/flowers', post_images: @post_images %>
<% else %>
  <h3>投稿はまだありません</h3>
<% end %>
