<h1>投稿者詳細</h1>

<% if flash[:notice] %>
  <p id = "notice">
    <%= flash[:notice]%>
  </p>
<% end %>

<div>
  <h3>このユーザーのプロフィール</h3>
  <% if @user.is_active == true %>
    <h3>有効会員<h3>
  <% else %>
    <h3>退会済み</h3>
  <% end %>
  <%= image_tag @user.get_profile_image(200,200) %>
  <p>ユーザーネーム<strong><%= @user.name %></strong></p>
  <p>自己紹介</p>
  <p><%= @user.introduction %></p>
  <!--<p>< link_to "#{user.followings.count} フォロー中", user_user_followings_path(user.id) ></p>-->
  <!--<p>< link_to "#{user.followers.count} フォロワー", user_user_followers_path(user.id) ></p>-->
    <%= link_to "このユーザーのプロフィールを編集する",edit_admin_user_path %>
    <!--< link_to 'メールアドレス、パスワードを変更する',edit_user_registration_path(user.id) >-->
</div>
