<!DOCTYPE html>
<html>
  <head>
    <title>FLOWER-FIELD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/a5fc0fa3f9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="turbolinks-visit-control" content="reload">

  </head>
  <body>
    <header class="
    <% if admin_signed_in? %>
     sub-color-red
    <% end %>
    ">
      <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container">
          <% if user_signed_in? %>
          
            <h1 class="mt-1">
            FLOWER
            <%= link_to user_user_path(current_user.id) do %>
              <%= image_tag('F.F.png') %>
            <% end %>
            FIELD
          </h1>
          
          <% elsif admin_signed_in? %>
        
            <h1 class="mt-1 admin-font">
            ADMIN
            <%= link_to admin_users_path do %>
              <%= image_tag('F.F.png') %>
            <% end %>
            PAGE
          </h1>
          
          <% else %>
        
            <h1 class="mt-1">
            FLOWER
            <%= link_to root_path do %>
              <%= image_tag('F.F.png') %>
            <% end %>
            FIELD
          </h1>
          
          <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"aria-controls="navbaraNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <% if user_signed_in? %>

              <li class="nav-item ml-3">
                      <%= link_to user_user_path(current_user.id), class: 'nav-link text-reset' do %>
                        <i class="fas fa-user"></i> マイページ
                      <% end %>
                    </li>
              <li class="nav-item ml-3">
                      <%= link_to user_post_images_path, class: 'nav-link text-reset' do %>
                        <i class="fas fa-images"></i> 花の咲く場所
                      <% end %>
                    </li>
              <li class="nav-item ml-3">
                      <%= link_to user_users_path, class: 'nav-link text-reset' do %>
                        <i class="fas fa-users"></i>  花を見つけた人達
                      <% end %>
                    </li>
              <li class="nav-item ml-3">
                      <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-reset' do %>
                        <i class="fas fa-walking"></i>  ログアウト
                      <% end %>
                    </li>

            <% elsif admin_signed_in? %>

              <li class="nav-item ml-3">
                      <%= link_to "投稿一覧" ,admin_post_images_path, class: 'nav-link text-reset admin-font' %>
                    </li>
              <li class="nav-item ml-3">
                      <%= link_to "投稿者一覧" ,admin_users_path, class: 'nav-link text-reset admin-font' %>
                    </li>
              <li class="nav-item ml-3">
                      <%= link_to "退会者一覧" ,admin_deleted_path, class: 'nav-link text-reset admin-font' %>
                    </li>
              <li class="nav-item ml-3">
                      <%= link_to '管理者情報の編集',edit_admin_registration_path, class: 'nav-link text-reset admin-font' %>
                    </li>
              <li class="nav-item ml-3">
                      <%= link_to "ログアウト", destroy_admin_session_path,method: :delete, class: 'nav-link text-reset admin-font' %>
                    </li>

            <% else %>

              <li class="nav-item ml-3">
                      <%= link_to "HOME", root_path, class: 'nav-link text-reset' %>
                    </li>
              <li class="nav-item ml-3">
                      <%= link_to "ABOUT", about_path, class: 'nav-link text-reset' %>
                    </li>
              <li class="nav-item ml-3">
                      <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-reset' %>
                    </li>
              <li class="nav-item ml-3">
                      <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-reset' %>
                    </li>

            <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="header-bottom">

          <% if user_signed_in? %>

          <div class="user-name-window">
            <div>
              <%= link_to user_user_path(current_user.id) do %>
                <%= image_tag current_user.get_profile_image(50,50) %>
              <% end %>
            </div>
            <div class="ml-3">
              <span class="user-name"><%= current_user.name %></span>
            </div>
            <div class="ml-auto">
              <%= link_to new_user_post_image_path(current_user.id) ,class: "btn btn-success m-1" do %>
                <i class="fas fa-pen"></i>
              <% end %>
            </div>
          </div>

          <%= search_form_for @search, url: user_search_path do |f| %>
          <form>
            <div class="user-search-window">
              <div class="search-form-top">
              <%= f.text_field :flower_or_field_or_address_or_detail_cont, placeholder: "花の情報を検索",class: "form-control" %>
              </div>
              <div class="search-form-bottom">
                <div class="search-form-day">
                  <div class="search-form-day-start"><%= f.date_field :day_gteq,class: "form-control" %></div>
                  <span>〜</span>
                  <div class="search-form-day-end"><%= f.date_field :day_lteq,class: "form-control" %></div>
                </div>
                <div class="search-form-button"><%= f.submit '検索' ,class: "btn btn-danger" %></div>
              </div>
            </div>
          </form>
            <% end %>

        <% elsif admin_signed_in? %>

          <div class="admin-window">
            <div class="admin-detail-window">
              <div>
                <div>
                  <h6>総投稿件数：<%= PostImage.all.count %></h6>
                </div>
                <div>
                  <h6>総投稿者数：<%= User.all.count %></h6>
                </div>
              </div>
              <div>
                <div>
                  <h6>総コメント数：<%= PostComment.all.count %></h6>
                </div>
                <div>
                  <h6>総いいね数：<%= Favorite.all.count %></h6>
                </div>
              </div>
            </div>
            <div class="admin-search-window" >
              <%= search_form_for @search, url: admin_search_path do |f| %>
                <form>
                  <div class="form-inline">
                    <div>
                      <%= f.search_field :name_or_introduction_cont, placeholder: "ユーザーの情報を検索" ,class: "form-control" %>
                    </div>
                    <div class="ml-3">
                      <%= f.submit '検索' ,class: "btn btn-danger" %>
                    </div>
                  </div>
                </form>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </header>

    <main>
      <div class="flash-message-area">

        <%= render 'shared/flash_message' %>

      </div>

      <%= yield %>

    </main>

    <footer class="
      <% if admin_signed_in? %>
       sub-color-red
      <% end %>">
      <div class="container">
        <p class="
        <% if admin_signed_in? %>
         admin-font
        <% end %>
        ">&copy; All rights reserved by tefutefu.Inc.</p>
        <% if user_signed_in? %>
          <adress>
            <a href="mailto:info@example.com" class="text-reset">info@example.com</a>
          </adress>
        <% end %>
      </div>
    </footer>
  </body>
</html>
