<!DOCTYPE html>
<html>
  <head>
    <title>FLOWER-FIELD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/a5fc0fa3f9.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="user_sign_in
  <% if admin_signed_in? %>
   admin_sign_in
  <% end %>
  ">
    <header class="
      <% if admin_signed_in? %> background-color-red
      <% end %>
    ">
      <nav class="navbar navbar-light navbar-expand-lg
      <% if admin_signed_in? %> background-color-red
      <% end %>
      ">
        <div class="container">
          <% if user_signed_in? %>
          <h3 class="mt-1">
              FLOWER
              <%= link_to root_path do %>
                <%= image_tag('F.F.png') %>
              <% end %>
              FIELD
            </h3>
          <% elsif admin_signed_in? %>
            <h3 class="mt-1 color-red">
              FLOWER
              <%= link_to admin_users_path do %>
                <%= image_tag('F.F.png') %>
              <% end %>
              FIELD
            </h3>
          <% else %>
            <h3 class="mt-1">
              FLOWER
              <%= link_to root_path do %>
                <%= image_tag('F.F.png') %>
              <% end %>
              FIELD
            </h3>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbaraNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item ml-3">
                  <%= link_to user_user_path(current_user.id), class: 'nav-link text-reset' do %>
                    <i class="fas fa-user"></i> マイページ
                  <% end %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to user_post_images_path, class: 'nav-link text-reset' do %>
                    <i class="fas fa-images"></i> 花の咲く場所
                  <% end %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to user_users_path, class: 'nav-link text-reset' do %>
                    <i class="fas fa-users"></i>  花を見つけた人達
                  <% end %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-reset' do %>
                    <i class="fas fa-walking"></i>  ログアウト
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item ml-3 color-red">
                  <%=link_to "投稿一覧" ,admin_post_images_path, class: 'nav-link text-reset' %>
                </li>
                <li class="nav-item ml-3 color-red">
                  <%=link_to "投稿者一覧" ,admin_users_path, class: 'nav-link text-reset' %>
                </li>
                <li class="nav-item ml-3 color-red">
                  <%= link_to '管理者情報の編集',edit_admin_registration_path, class: 'nav-link text-reset' %>
                </li>
                <li class="nav-item ml-3 color-red">
                  <%= link_to "管理者ログアウト", destroy_admin_session_path,method: :delete, class: 'nav-link text-reset' %>
                </li>
              <% else %>
                <li class="nav-item ml-3">
                  <%= link_to "HOME", root_path, class: 'nav-link text-reset' %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to "ABOUT", about_path, class: 'nav-link text-reset' %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-reset' %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-reset' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <% if user_signed_in? %>
        <div class="row">
          <div class="col-xl-4 mb-3">
            <div class="d-flex bd-highlight header-window">
              <div class="bd-highlight ">
                <%= link_to user_user_path(current_user.id) do %>
                  <%= image_tag current_user.get_profile_image(50,50) %>
                <% end %>
              </div>
              <div class="bd-highlight mt-2 ml-3 ">
                <span class="d-inline-block text-truncate color-red" style="max-width: 200px;"><%= current_user.name %></span>
              </div>
              <div class="ml-auto">
                <%= link_to new_user_post_image_path(current_user.id) ,class: "btn btn-success m-1" do %>
                  <i class="fas fa-pen"></i>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xl-8 mb-3 mt-sm-2 ml-auto">
            <%= search_form_for @search, url: user_search_path do |f| %>
              <form>
                <div class="form-row">

                  <div class="col-10 col-sm-12 col-lg-3 m-1 mb-3 mb-lg-1">
                    <%= f.text_field :flower_or_field_or_address_or_detail_cont, placeholder: "花の情報を検索",class: "form-control" %>
                  </div>
                    <div class="col-auto col-sm-5 col-md-5 col-lg-3 m-1">
                      <%= f.date_field :day_gteq ,class: "form-control" %>
                    </div>

                    <span class="mt-2 mx-sm-0  mx-md-1 mx-lg-0 ">〜</span>

                    <div class="col-auto col-sm-5 col-md-5 col-lg-3 m-1">
                      <%= f.date_field :day_lteq ,class: "form-control" %>
                    </div>
                    <div class="col-1 m-1 ml-sm-n1 ml-md-3 ml-lg-">
                      <%= f.submit '検索' ,class: "btn btn-danger" %>
                    </div>
                </div>
              </form>
            <% end %>
          </div>
        </div>
          <% elsif admin_signed_in? %>
          <div class="row mb-3">
            <h5 class="mb-3 ml-3 color-red">管理者ページ</h5>
            <div class="ml-auto">
              <%= search_form_for @search, url: admin_search_path do |f| %>
                <form>
                  <div class="form-inline">
                    <div class="col ml-auto">
                      <%= f.search_field :name_or_introduction_cont, placeholder: "ユーザーの情報を検索" ,class: "form-control" %>
                    </div>
                    <div class="mr-3 ">
                      <%= f.submit '検索' ,class: "btn btn-danger" %>
                    </div>
                  </div>
                </form>
              </div>
            <% end %>
          </div>
      </div>
      <% end %>
    </header>
    <main>
      <div class="flash-message-area">

        <%= render 'shared/flash_message' %>

      </div>

      <%= yield %>

    </main>
    <footer class="
      <% if admin_signed_in? %> background-color-red
      <% end %>">
      <div class="container">
        <p class="text-center
        <% if admin_signed_in?%>
         color-red
        <% end %>
        ">tefutefu</p>
      </div>
    </footer>
  </body>
</html>
