<!DOCTYPE html>
<html>
  <head>
    <title>FLOWER-FIELD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/a5fc0fa3f9.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <% if admin_signed_in? %>
            <h3>管理者ページ</h3>
          <% else %>
            <h3>FLOWER
              <%= link_to root_path do %>
                <%= image_tag('F.F.png') %>
              <% end %>
              FIELD
            </h3>
          <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbaraNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

         <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item ml-3">
                <%= link_to user_user_path(current_user.id), class: 'nav-link text-reset' do %>
                  <i class="fas fa-user-circle"></i>  マイページ
                <% end %>
              </i>
              <li class="nav-item ml-3">
                <%= link_to user_post_images_path, class: 'nav-link text-reset' do %>
                  <i class="fas fa-images"></i> 花の咲く場所
                <% end %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to user_users_path, class: 'nav-link text-reset' do %>
                  <i class="fas fa-users"></i>  花を見つけた人達
                <% end %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-reset' do %>
                  <i class="fas fa-walking"></i>  ログアウト
                  <% end %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="nav-item ml-3">
                <%=link_to "投稿一覧" ,admin_post_images_path, class: 'nav-link text-reset' %>
              </li>
              <li class="nav-item ml-3">
                <%=link_to "投稿者一覧" ,admin_users_path, class: 'nav-link text-reset' %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to '管理者情報の編集',edit_admin_registration_path, class: 'nav-link text-reset' %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to "管理者ログアウト", destroy_admin_session_path,method: :delete, class: 'nav-link text-reset' %>
              </li>
            <% else %>
              <li class="nav-item ml-3">
                <%= link_to "ABOUT", about_path, class: 'nav-link text-reset' %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-reset' %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-reset' %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>

      <div class="container">
        <div class="row">
          <% if user_signed_in? %>

            <div class="d-inline p-3">
              <%= image_tag current_user.get_profile_image(50,50)%>  <strong><%= current_user.name %></strong>
            </div>
            <div class="d-inline p-3">
              <%= link_to "花の咲く場所を投稿",new_user_post_image_path(current_user.id) ,class: "btn btn-success" %>
            </div>
          <div>
              <%= search_form_for @search, url: user_search_path do |f| %>
                <form>
                  <div class="form-inline p-3">
                    <div class="form-group mr-3">
                      <%= f.text_field :flower_or_field_or_address_or_detail_cont, placeholder: "花の情報を検索", class: "form-control" %>
                    </div>
                    <div class="form-group mr-3">
                      <%= f.date_field :day_gteq ,class: "form-control" %>
                    </div>
                      <span>〜</span>
                    <div class="form-group mx-3">
                      <%= f.date_field :day_lteq ,class: "form-control" %>
                    </div>
                      <%= f.submit '検索' , class: "btn btn-danger" %>
                    </div>
                </form>
                <% end %>
                <% elsif admin_signed_in? %>
                  <%= search_form_for @search, url: admin_search_path do |f| %>
                    <%= f.search_field :name_or_introduction_cont, placeholder: "ユーザーの情報を検索" %>
                    <%= f.submit '検索' %>
                <% end %>
              </div>
          </div>
        </div>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <p>tefutefu</p>
      </div>
    </footer>
  </body>
</html>
