<!DOCTYPE html>
<html>
  <head>
    <title>FLOWER-FIELD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <%= link_to "TOP", root_path %>
          </li>
          <li>
            <%= link_to "ABOUT", about_path %>
          </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to "管理者ログアウト", destroy_admin_session_path,method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "ユーザーログイン", new_user_session_path %>
          </li>
          <li>
            <%= link_to "ゲストユーザーログイン", homes_guest_sign_in_path, method: :post %>
          </li>
          <li>
            <%= link_to "管理者ログイン", new_admin_session_path %>
          </li>
        <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
